build/
bin/
CMakeCache.txt
CMakeFiles/
compile_commands.json
*.o
*.obj

project/bin/*.dll
project/bin/*.so
project/bin/*.dylib
project/bin/*.exp
project/bin/*.lib

.vscode/.browse.c_cpp.db*
.vscode/ipch/
*.code-workspace

.DS_Store
Thumbs.db
